/* All document */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body {
    /* background-color: #e1e4ea !important; */
   background-color: rgb(86, 216, 228, 1) !important;

}
.App>.login, .detailIdea, .tableAccountList, .tableCate, .tableAdmin, .tableListIdea, .eventIdea, .editProfile, .tableListIdea, .userProfile, #userProfile {
  /* position: relative */
  width: 100%;
  height: 100vh;
  background-image: url('./images/TruongTao.png');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

@media  screen and (max-width:1600px){
  .App>.detailIdea {
      height: 160vh;
  }

  .App>.tableCate{
    height: 90vh;
  }

  .App>.userProfile{
    height: 155vh;
  }

  .App>.eventIdea{
    height: 85vh;
  }

  .App>.tableListIdea{
    height: 85vh;
  }


    .App > #userProfile {
        height: 445vh;
    }

  
 


}
@media  screen and (max-width:480px){
  .App>.editProfile {
      height: 180vh;
  }

  .App > .userProfile {
      height: 200vh;
      background:none;
   }

  .App >#userProfile {
      height: 105vh;
  }

    .App > .eventIdea {
        height: 100vh;
    }
}

@media screen and (max-width:480px) {
    #dashBoard .row .col-3 {
        width: 50%;
        display:grid;
    }

    #dough_nut {
        margin-top: 30px;
    }

    #line_chart {
        margin-top: 50px;
    }

    .App > #userProfile {
        height: 445vh;
    }
}


#NewFeedBackG,#dashBoard{
  width: 100%;
  background-image: url('./images/TruongTao.png');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
#userProfile{
  width: 100%;
  height: 100vh;
  background-image: url('./images/TruongTao.png');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
body a{
  text-decoration: none;
}
.modalOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 2;
}
.create, .edit{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 0!important;
}
.container-fluid{
  max-width: 80%;
}
.container {
  max-width: 50%;
}
