@media screen and (max-width:480px){

    span{
        margin-left: 20% ;
    }

    div.app-search.dropdown{
        width: 115%;
        margin-left: -25px;
    }

    div.Sort_Dropdown__ANnec{
        margin-left: -25px;
        margin-top: 20px;
    }


    div.SortMenu {
        margin-left: -25px;
        margin-top: 5px;
    }

    #NewFeedBackG .card-body {
        width: 120%;
        margin-left: -30px;
    }

    .detailIdea .card {
        width: 130%;
        margin-left: -50px;
        margin-top:10px;
    }
}